In [135]:
import pandas as pd
from datetime import datetime, timedelta

In [136]:
log_file_name = "Rfid_Reader_Data_01-02-2024.txt"
FILENAME = f"log_files\{log_file_name}"

In [137]:
df = pd.read_csv(FILENAME, sep=" : ", header=None, names=["Reader_IP", "Tag ID", "TEMP"], engine="python")

In [138]:
df.head()

        Reader_IP                    Tag ID                      TEMP
0  192.168.15.230  34161FA8203289723ED362E0  54.4 2/1/2024 0:00:01 AM
1  192.168.15.230  34161FA8203289723ED362E0  61.6 2/1/2024 0:00:05 AM
2  192.168.15.230  34161FA8203289723ED362E0  54.4 2/1/2024 0:00:05 AM
3  192.168.15.230  34161FA8203289723ED362E0  50.4 2/1/2024 0:00:07 AM
4  192.168.15.230  34161FA8203289723ED362E0  52.8 2/1/2024 0:00:07 AM

In [139]:
df[["RSSI", "Date", "Time", "AMPM"]] =  df["TEMP"].str.split(" ", expand=True)

In [140]:
df.head()

,Reader_IP,Tag ID,TEMP,RSSI,Date,Time,AMPM
0,192.168.15.230,34161FA8203289723ED362E0,54.4 2/1/2024 0:00:01 AM,54.4,2/1/2024,0:00:01,AM
1,192.168.15.230,34161FA8203289723ED362E0,61.6 2/1/2024 0:00:05 AM,61.6,2/1/2024,0:00:05,AM
2,192.168.15.230,34161FA8203289723ED362E0,54.4 2/1/2024 0:00:05 AM,54.4,2/1/2024,0:00:05,AM
3,192.168.15.230,34161FA8203289723ED362E0,50.4 2/1/2024 0:00:07 AM,50.4,2/1/2024,0:00:07,AM
4,192.168.15.230,34161FA8203289723ED362E0,52.8 2/1/2024 0:00:07 AM,52.8,2/1/2024,0:00:07,AM

In [141]:
df["TimeStamp"] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format="%m/%d/%Y %H:%M:%S")

In [142]:
df.head()

,Reader_IP,Tag ID,TEMP,RSSI,Date,Time,AMPM,TimeStamp
0,192.168.15.230,34161FA8203289723ED362E0,54.4 2/1/2024 0:00:01 AM,54.4,2/1/2024,0:00:01,AM,2024-02-01 00:00:01
1,192.168.15.230,34161FA8203289723ED362E0,61.6 2/1/2024 0:00:05 AM,61.6,2/1/2024,0:00:05,AM,2024-02-01 00:00:05
2,192.168.15.230,34161FA8203289723ED362E0,54.4 2/1/2024 0:00:05 AM,54.4,2/1/2024,0:00:05,AM,2024-02-01 00:00:05
3,192.168.15.230,34161FA8203289723ED362E0,50.4 2/1/2024 0:00:07 AM,50.4,2/1/2024,0:00:07,AM,2024-02-01 00:00:07
4,192.168.15.230,34161FA8203289723ED362E0,52.8 2/1/2024 0:00:07 AM,52.8,2/1/2024,0:00:07,AM,2024-02-01 00:00:07

In [143]:
df = df.drop(labels=["Date", "Time", "AMPM", "TEMP"], axis=1)

In [144]:
df.head()

        Reader_IP                    Tag ID  RSSI           TimeStamp
0  192.168.15.230  34161FA8203289723ED362E0  54.4 2024-02-01 00:00:01
1  192.168.15.230  34161FA8203289723ED362E0  61.6 2024-02-01 00:00:05
2  192.168.15.230  34161FA8203289723ED362E0  54.4 2024-02-01 00:00:05
3  192.168.15.230  34161FA8203289723ED362E0  50.4 2024-02-01 00:00:07
4  192.168.15.230  34161FA8203289723ED362E0  52.8 2024-02-01 00:00:07

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809029 entries, 0 to 809028
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Reader_IP  809029 non-null  object
 1   Tag ID     809029 non-null  object
 2   RSSI       809029 non-null  object
 3   TimeStamp  809029 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 24.7+ MB

In [146]:
df.reset_index()

,index,Reader_IP,Tag ID,RSSI,TimeStamp
0,0,192.168.15.230,34161FA8203289723ED362E0,54.4,2024-02-01 00:00:01
1,1,192.168.15.230,34161FA8203289723ED362E0,61.6,2024-02-01 00:00:05
2,2,192.168.15.230,34161FA8203289723ED362E0,54.4,2024-02-01 00:00:05
3,3,192.168.15.230,34161FA8203289723ED362E0,50.4,2024-02-01 00:00:07
4,4,192.168.15.230,34161FA8203289723ED362E0,52.8,2024-02-01 00:00:07
...,...,...,...,...,...
809024,809024,192.168.15.230,A00147000000000000000000,52.8,2024-02-01 23:59:59
809025,809025,192.168.15.230,34161FA820328EE82557DC40,65.6,2024-02-01 23:59:59
809026,809026,192.168.15.230,A00147000000000000000000,46.4,2024-02-01 23:59:59
809027,809027,192.168.15.230,A00147000000000000000000,50.4,2024-02-01 23:59:59
809028,809028,192.168.15.230,34161FA820328EE82557DC40,65.6,2024-02-01 23:59:59

In [156]:
df_group_tag_id = df.groupby(by="Tag ID", sort=True, group_keys=True)

In [157]:
df_group_tag_id.head()

             Reader_IP                    Tag ID  RSSI           TimeStamp
0       192.168.15.230  34161FA8203289723ED362E0  54.4 2024-02-01 00:00:01
1       192.168.15.230  34161FA8203289723ED362E0  61.6 2024-02-01 00:00:05
2       192.168.15.230  34161FA8203289723ED362E0  54.4 2024-02-01 00:00:05
3       192.168.15.230  34161FA8203289723ED362E0  50.4 2024-02-01 00:00:07
4       192.168.15.230  34161FA8203289723ED362E0  52.8 2024-02-01 00:00:07
...                ...                       ...   ...                 ...
805043  192.168.15.230  34161FA820328EE82557DC40  60.8 2024-02-01 23:52:55
805044  192.168.15.230  34161FA820328EE82557DC40    64 2024-02-01 23:52:56
805045  192.168.15.230  34161FA820328EE82557DC40    64 2024-02-01 23:52:57
805046  192.168.15.230  34161FA820328EE82557DC40  63.2 2024-02-01 23:52:57
805047  192.168.15.230  34161FA820328EE82557DC40    64 2024-02-01 23:52:58

[2692 rows x 4 columns]

In [158]:
rem_list = []
for key in df_group_tag_id.groups.keys():
    if len(key) != 24:
        rem_list.append(key)
        # df_group_tag_id.groups.pop(key)
rem_list
[df_group_tag_id.groups.pop(key) for key in rem_list]

[Index([546303, 546305, 546306, 546307, 546308, 546309, 546310, 546315, 546316,
        546317,
        ...
        550577, 550580, 550582, 550584, 550585, 550587, 550590, 550591, 550594,
        550595],
       dtype='int64', length=2184),
 Index([284707, 290242, 357930], dtype='int64'),
 Index([334271], dtype='int64')]

In [159]:

df_output = pd.DataFrame(columns=["Reader IP", "Tag ID", "Max RSSI", "Min Time", "Max Time", "Time Diff"])
df_output["Reader IP"] = df_output["Reader IP"].astype(str)
df_output["Tag ID"] = df_output["Tag ID"].astype(str)
df_output["Max RSSI"] = df_output["Max RSSI"].astype(float)
df_output["Min Time"] = df_output["Min Time"].astype('datetime64[ns]')
df_output["Max Time"] = df_output["Max Time"].astype('datetime64[ns]')
df_output["Time Diff"] = df_output["Time Diff"].apply(pd.to_timedelta(1,"s"))

for key, group in df_group_tag_id:
    # initializing the variables for this group 
    reader_ip = None
    max_rssi = None
    min_time = datetime.today() + timedelta(days=365)
    max_time = datetime.today() - timedelta(days=365)
    last_read_time = None 
    subgroup_by_tag = group
    data_dict = {}
    
    subgroup_by_tag = subgroup_by_tag.sort_values(by="TimeStamp",ascending=True)
    for index, row in subgroup_by_tag.iterrows():
        if reader_ip == None:
            reader_ip = row["Reader_IP"]
        elif row["Reader_IP"] != reader_ip:
            print("Reader IP does not match")
            
        if max_rssi == None:
            max_rssi = row["RSSI"]
        elif row["RSSI"] > max_rssi:
            max_rssi = row["RSSI"]
            
        if last_read_time == None:
            last_read_time = row["TimeStamp"]
        elif row["TimeStamp"] - last_read_time > timedelta(hours=1):
            data_dict["Reader IP"] = reader_ip
            data_dict["Tag ID"] = key
            data_dict["Max RSSI"] = max_rssi
            data_dict["Min Time"] = min_time
            data_dict["Max Time"] = max_time
            data_dict["Time Diff"] = max_time - min_time
            df_output = pd.concat([df_output, pd.DataFrame(data_dict, index=[0])], ignore_index=True)
            df_output.reset_index()
            break
            
        if row["TimeStamp"] < min_time:
            min_time = row["TimeStamp"]
            
        if row["TimeStamp"] > max_time:
            max_time = row["TimeStamp"]

df_output.to_csv(f"{FILENAME}.out.csv",header=True, sep=",",index=False, encoding="utf-8")

C:\Users\ketan\AppData\Local\Temp\ipykernel_20364\2206072991.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_output = pd.concat([df_output, pd.DataFrame(data_dict, index=[0])], ignore_index=True)